<div class="chat-details-container" *ngIf="contactLoaded">
    <div class="chat-details-header">
        <div class="user-profile">
            <div class="icon">
                <i class="bi bi-people-fill"></i>
            </div>
            <div class="title">
                <h2>{{chat.name}}</h2>
            </div>
        </div>
        <div class="delete-icon" (click)="onDelete()">
            <i class="fa-solid fa-trash"></i>
        </div>
    </div>

    <div class="chat-messages">
        <!-- <div class="message-content"> -->
            <div class="message"  *ngFor="let msg of messageList" [ngClass]="msg.sender?'me':'you'" >
                <p class="message-text">{{msg.message}}</p>
                <p class="message-time">{{msg.time|date:'shortTime'}}</p>
            </div>
        <!-- </div> -->
    </div>

    <div class="send-message">
        <div class="sender-icon" (click)="toggleSender()">
            <i class="fa fa-solid fa-user-secret" *ngIf="!Sender"></i>
            <i class="fa fa-solid fa-user" *ngIf="Sender"></i>
        </div>
        <div class="type-message">
            <input type="text" placeholder="Type a message " #newMessage (keydown.enter)="onInput()">
        </div>
    </div>
</div>